{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <header  class="shadow-lg relative">
        <div class="parallax-container">
            {% include '_scroll_navigation.html.twig' with {'links':'direct'} %}
            <div class="background-container">
                <div class="header-slogan">
                    <h1 class="slide-in-text1">{{ 'app.header.slogan1'|trans|raw|nl2br }}</h1>
                    <h1 class="slide-in-text2">{{ 'app.header.slogan2'|trans|raw|nl2br }}</h1>
                </div>
            </div>
        </div>
    </header>
    <div id="services" class="block-container">
        <div class="block-entry services-container flex flex-col lg:flex-row items-start lg:items-center relative overflow-hidden">
            <h2 class="headline w-full lg:w-1/4 text-2xl font-bold translate-x-[-100%] transition-transform duration-700 ease-out lg:mb-0">
                {{ 'app.navigation.services'|trans }}
            </h2>
            <div class="hidden lg:block block-line vertical-line h-80 w-[2px] mx-4 translate-y-10 transition-transform duration-700 ease-out"></div>
            <div class="text w-full lg:w-3/4 lg:pl-8 translate-x-20 transition-transform duration-700 ease-out">
                <p>
                    {{ 'app.services.text'|trans|raw|nl2br }}
                </p>
            </div>
        </div>
    </div>

    <div class="background-container2"></div>

    <div id="about" class="block-container">
        <div class="block-entry services-container flex flex-col lg:flex-row items-start lg:items-center relative overflow-hidden">
            <h2 class="headline w-full lg:w-1/4 text-2xl font-bold translate-x-[-100%] transition-transform duration-700 ease-out lg:mb-0">
                {{ 'app.navigation.about'|trans }}
            </h2>
            <div class="hidden lg:block block-line vertical-line h-80 w-[2px] mx-4 translate-y-10 transition-transform duration-700 ease-out"></div>
            <div class="text w-full lg:w-3/4 lg:pl-8 translate-x-20 transition-transform duration-700 ease-out">
                {{ 'app.about.text'|trans|raw|nl2br }}
            </div>
        </div>
    </div>

    <div class="background-container2"></div>

    <div id="portfolio" class="block-container">
        <div class="block-entry portfolio-container flex flex-col lg:flex-row items-start lg:items-center relative overflow-hidden">
            <h2 class="headline w-full lg:w-1/4  text-2xl font-bold translate-x-[-100%] transition-transform duration-700 ease-out lg:mb-0">
                {{ 'app.navigation.portfolio'|trans }}
            </h2>
            <div class="hidden lg:block block-line vertical-line h-80 w-[2px] mx-4 translate-y-10 transition-transform duration-700 ease-out"></div>
            <div class="text w-full lg:w-3/4 lg:pl-8 translate-x-20 transition-transform duration-700 ease-out">
                <div class="portfolio-container2">
                    <div class="project">
                        <h3 class="project-headers">{{ 'app.portfolio.title1'|trans }}</h3>
                        <p>{{ 'app.portfolio.text1'|trans|raw|nl2br }}</p>
                    </div>
                    <div class="project">
                        <h3 class="project-headers">{{ 'app.portfolio.title2'|trans }}</h3>
                        <p>{{ 'app.portfolio.text2'|trans|raw|nl2br }}</p>
                    </div>
                    <div class="project">
                        <h3 class="project-headers">{{ 'app.portfolio.title3'|trans }}</h3>
                        <p>{{ 'app.portfolio.text3'|trans|raw|nl2br }}</p>
                    </div>
                </div>
                <div class="portfolio-container2">
                    <div class="project">
                        <h3 class="project-headers">{{ 'app.portfolio.title4'|trans }}</h3>
                        <p>{{ 'app.portfolio.text4'|trans|raw|nl2br }}</p>
                    </div>
                    <div class="project">
                        <h3 class="project-headers">{{ 'app.portfolio.title5'|trans }}</h3>
                        <p>{{ 'app.portfolio.text5'|trans|raw|nl2br }}</p>
                    </div>
                    <div class="project">
                        <h3 class="project-headers">{{ 'app.portfolio.title6'|trans }}</h3>
                        <p>{{ 'app.portfolio.text6'|trans|raw|nl2br }}</p>
                    </div>
                </div>
                <div class="portfolio-container2">
                    <div class="project">
                        <div id="portfolio-end-text">{{ 'app.portfolio.end_text'|trans }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-container2"></div>
    <div id="contact" class="block-container overflow-hidden">
        <div class="contact-container block-entry flex items-center opacity-0 translate-y-10 transition-all duration-700 ease-out">
            <h2 class="headline w-full lg:w-1/4 text-2xl font-bold translate-x-[-100%] transition-transform duration-700 ease-out lg:mb-0">
                {{ 'app.navigation.contact'|trans }}
            </h2>
            <div class="block-line hidden lg:block vertical-line h-80 w-[2px] mx-4 translate-y-10 transition-transform duration-700 ease-out"></div>
            <div id="contact-text" class="text translate-x-20 transition-transform duration-700 ease-out">
                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.message) }}
                    {{ form_row(form.captcha) }}
                    <input type="hidden" name="token" id="token">
                    <div class="contact-input">
                        <button type="submit" class="contact-input-button">Senden</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Achim Krämer</p>
        <a target="_blank" href="{{ path('app_data-protection_index') }}">{{ 'app.data_protection.title'|trans }}</a>
        <a target="_blank" href="{{ path('app_impress_index') }}">{{ 'app.impress.title'|trans }}</a>
{#        <div>#}
{#            <a href="https://linkedin.com"><img src="{{ asset('images/linkedin.png') }}" alt="LinkedIn"></a>#}
{#            <a href="https://github.com"><img src="{{ asset('images/github.png') }}" alt="GitHub"></a>#}
{#        </div>#}
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
