{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
    <h1>Customer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>CompanyName</th>
                <th>Street</th>
                <th>Housenumber</th>
                <th>Plz</th>
                <th>City</th>
                <th>IsActive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.firstname }}</td>
                <td>{{ customer.lastname }}</td>
                <td>{{ customer.companyName }}</td>
                <td>{{ customer.street }}</td>
                <td>{{ customer.housenumber }}</td>
                <td>{{ customer.plz }}</td>
                <td>{{ customer.city }}</td>
                <td>{{ customer.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_customer_show', {'id': customer.id}) }}">show</a>
                    <a href="{{ path('admin_customer_edit', {'id': customer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_customer_new') }}">Create new</a>
{% endblock %}
