{% extends 'base.html.twig' %}

{% block title %}{{ 'app.customer.title'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <div class="table-container bg-gray-800 p-8 overflow-x-auto">
        <h1>{{ 'app.customer.title'|trans }}</h1>

        <table class="table min-w-full bg-white border border-gray-200">
            <thead>
                <tr>
                    <th>{{ 'app.customer.firstname'|trans }}</th>
                    <th>{{ 'app.customer.lastname'|trans }}</th>
                    <th>{{ 'app.customer.company_name'|trans }}</th>
                    <th>{{ 'app.customer.street'|trans }}</th>
                    <th>{{ 'app.customer.housenumber'|trans }}</th>
                    <th>{{ 'app.customer.plz'|trans }}</th>
                    <th>{{ 'app.customer.city'|trans }}</th>
                    <th>{{ 'app.customer.active'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <td><a href="{{ path('admin_customer_edit', {'id': customer.id}) }}">{{ customer.firstname }}</a></td>
                    <td>{{ customer.lastname }}</td>
                    <td>{{ customer.companyName }}</td>
                    <td>{{ customer.street }}</td>
                    <td>{{ customer.housenumber }}</td>
                    <td>{{ customer.plz }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.isActive? 'Ja' : 'Nein' }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="button mt-4" href="{{ path('admin_customer_new') }}">{{ 'app.customer.new_customer'|trans }}</a>
        <a class="button mt-4" href="{{ path('admin_index') }}">{{ 'app.default.back_to_list'|trans }}</a>
    </div>
</div>
{% endblock %}
