{% extends 'base.html.twig' %}

{% block title %}{{ 'app.customer.new_customer'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-gray-800 p-8 rounded-lg shadow-lg w-1/2">
            <h1>{{ 'app.customer.new_customer'|trans }}</h1>

            {{ include('customer/_form.html.twig') }}

            <a class="button" href="{{ path('admin_customer_index') }}">{{ 'app.default.back_to_list'|trans }}</a>
        </div>
    </div>
</div>
{% endblock %}
