{% extends 'base.html.twig' %}

{% block title %}{{ 'app.customer.title'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-gray-800 p-8 rounded-lg shadow-lg">
            <h1>{{ 'app.customer.title'|trans }}</h1>

            <table class="table min-w-full bg-white border border-gray-200">
                <thead>
                <tr>
                    <th>{{ 'app.customer.firstname'|trans }}</th>
                    <th>{{ 'app.customer.lastname'|trans }}</th>
                    <th>{{ 'app.customer.company_name'|trans }}</th>
                    <th>{{ 'app.customer.street'|trans }}</th>
                    <th>{{ 'app.customer.housenumber'|trans }}</th>
                    <th>{{ 'app.customer.plz'|trans }}</th>
                    <th>{{ 'app.customer.city'|trans }}</th>
                    <th>{{ 'app.customer.active'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="{{ path('admin_customer_edit', {'id': customer.id}) }}">{{ customer.firstname }}</a></td>
                    <td>{{ customer.lastname }}</td>
                    <td>{{ customer.companyName }}</td>
                    <td>{{ customer.street }}</td>
                    <td>{{ customer.housenumber }}</td>
                    <td>{{ customer.plz }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.isActive? 'Ja' : 'Nein' }}</td>
                </tr>
                </tbody>
            </table>

            <h1 class="mt-5">{{ 'app.project.title'|trans }}</h1>
            {% for project in projects %}
            <table class="table min-w-full bg-white border border-gray-200 mb-10">
                <thead>
                <tr>
                    <th>{{ 'app.project.project_title'|trans }}</th>
                    <th>{{ 'app.project.description'|trans }}</th>
                    <th>{{ 'app.project.start_date'|trans }}</th>
                    <th>{{ 'app.project.end_date'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="{{ path('admin_project_edit', {'id': project.id}) }}">{{ project.title }}</a></td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.startDate ? project.startDate|date('d.m.Y') : '' }}</td>
                    <td>{{ project.endDate ? project.endDate|date('d.m.Y') : '' }}</td>
                </tr>
                </tbody>
                <table class="table min-w-full bg-white border border-gray-200">
                    <thead>
                    <tr>
                        <th>{{ 'app.time_entry.date'|trans }}</th>
                        <th>{{ 'app.time_entry.project'|trans }}</th>
                        <th>{{ 'app.time_entry.hours'|trans }}</th>
                        <th>{{ 'app.time_entry.description'|trans }}</th>
                        <th>{{ 'app.time_entry.invoiced'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for time_entry in project.timeEntries %}
                        <tr>
                            <td><a href="{{ path('admin_time_entry_edit', {'id': time_entry.id}) }}">{{ time_entry.date ? time_entry.date|date('d.m.Y') : '' }}</a></td>
                            <td>{{ time_entry.project }}</td>
                            <td>{{ time_entry.hours }}</td>
                            <td>{{ time_entry.description }}</td>
                            <td>{{ time_entry.invoiced ? 'app.default.yes'|trans : 'app.default.no'|trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </table>
            {% endfor %}
            <a class="button mt-5" href="{{ path('admin_customer_index') }}">{{ 'app.default.back_to_list'|trans }}</a>
        </div>
    </div>
</div>
{% endblock %}
