{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        <div class="flex items-center justify-center min-h-screen">
            <div class="bg-gray-800 p-8 rounded-lg shadow-lg w-96">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="text-2xl font-bold text-center mb-6">Login</h1>
                <div class="m-4 text-left">
                    <label class="block text-sm font-medium text-gray-200" for="username">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control form-text px-2 py-2 text-sm w-full" autocomplete="email" required autofocus>
                </div>
                <div class="m-4 text-left">
                    <label class="block text-sm font-medium text-gray-200" for="password">Password</label>
                    <input type="password" name="_password" id="password" class="form-control form-text px-2 py-2 text-sm w-full" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <input type="checkbox" name="_remember_me" id="_remember_me">
                        <label for="_remember_me">Remember me</label>
                    </div>
                #}

                <div class="mt-5">
                    <button class="button btn btn-lg btn-primary w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition" type="submit">
                        Sign in
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
