<div style="position: relative;max-width: 600px;margin-left: 0;left: 0">
    <div style="font: small/1.5 Arial,Helvetica,sans-serif;letter-spacing: normal;color: #000000;">
        Liebe Grüße,
    </div>
    <table style="position: relative;margin-left: 15px;margin-right: auto;min-width: 570px;max-width: 570px;min-height: 120px;">
        <tbody>
            <tr>
{#                <td style="max-width: 112px;min-width: 112px;">#}
{#                    {% if user.image is not empty %}#}
{#                        {% set imagePath = '/upload/images/'~user.image %}#}
{#                        <img style="max-width: 100px;max-height: 100px;border-radius: 50%;" src="{{ asset(imagePath) }}">#}
{#                    {% endif %}#}
{#                </td>#}
                <td style="vertical-align: middle;max-width: 166px;min-width: 160px;">
                    <div>
                        <div style="padding-bottom: 3px;text-align: left;font: normal normal bold 12px/15px Arial;letter-spacing: 0;color: #000000;opacity: 1;">
                            Achim Krämer
                        </div>
                        <div style="padding-bottom: 3px;text-align: left;font: normal normal normal 10px/15px Arial;letter-spacing: 0;color: #000000;">

                        </div>
{#                        <div style="padding-bottom: 3px;text-align: left;font: normal normal normal 10px/15px Arial;letter-spacing: 0;color: #928A8A;">#}
{#                            <span style="font-weight: bold;"></span>#}
{#                        </div>#}
                    </div>
                </td>
                <td style="vertical-align: middle;min-width: 270px;max-width: 285px;min-height: 120px;padding-left: 14px;background: #F6F5F5 0 0 no-repeat padding-box;opacity: 1;">
                    <div>
                        <div style="padding-bottom: 5px;text-align: left;font: normal normal normal 10px/15px Arial;letter-spacing: 0;color: #000000;opacity: 1;">
                            <a target="_blank" href="tel: +49 1522 22618330"><img style="padding-right: 10px;" src="{{ asset('build/images/signatur_icon_phone.png') }}"><span style="display: inline-block">Achim Krämer</span></a>
                        </div>
                        <div style="padding-bottom: 5px;text-align: left;font: normal normal normal 10px/15px Arial;letter-spacing: 0;color: #000000;opacity: 1;">
                            <a target="_blank" style="text-decoration: none;" href="mailto:kontakt@achim-kraemer.com"><img style="padding-right: 10px;" src="{{ asset('build/images/signatur_icon_mail.png') }}"><span style="display: inline-block"> kontakt@achim-kraemer.com</span></a>
                        </div>
                        <div style="padding-bottom: 5px;text-align: left;font: normal normal normal 10px/15px Arial;letter-spacing: 0;color: #000000;opacity: 1;">
                            <a target="_blank" href="https://achim-kraemer.com"><img style="padding-right: 12px;" src="{{ asset('build/images/signatur_icon_mouse-pointer.png') }}"><span style="display: inline-block"> achim-kraemer.com</span></a>
                        </div>
{#                        <div style="padding-bottom: 5px;text-align: left;font: normal normal normal 10px/15px Arial;letter-spacing: 0;color: #000000;opacity: 1;">#}
{#                            <a target="_blank" href="https://goo.gl/maps/6GFtz3ezMTf821KA7"><img style="padding-right: 10px;" src="{{ asset('build/images/signatur_icon_map-pin.png') }}"><span style="display: inline-block"> Böckemeyerskamp 20, 49479 Ibbenbüren</span></a>#}
{#                        </div>#}
{#                        <div style="text-align: left;font: normal normal 300 10px/15px Arial;letter-spacing: 0;color: #928A8A;opacity: 1;">#}
{#                            Besuche mich auf: <a target="_blank" href="https://www.instagram.com/symplr.togethr/"><img style="padding-left: 5px" src="{{ asset('build/images/signatur_Icon_instagram.png') }}"></a> <a target="_blank" href="https://www.linkedin.com/showcase/symplrtogethr/"><img src="{{ asset('build/images/signatur_icon_linkedin.png') }}"></a>#}
{#                        </div>#}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    {% if email_signature.image is not null %}
        <div style="position: relative;margin-left: 15px;margin-right: auto;margin-top: 14px;min-width: 570px;max-width: 570px;">
            <a target="_blank" href="{{ email_signature.link }}" ><img style="margin-left: auto;margin-right: auto;max-width: 570px;" src="{{ url('app_landing_page') }}/upload/images/email_signature/{{ email_signature.image }}"></a>
        </div>
    {% endif %}
</div>
