{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block description %}{{ description }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <header  class="shadow-lg relative">
        <div class="parallax-container">
            {% include '_scroll_navigation.html.twig' with {'links':''} %}
            <div class="background-container">
                <div class="header-slogan">
                    <h1 class="slide-in-text1">{{ 'app.header.slogan1'|trans|raw|nl2br }}</h1>
                    <h2 class="lg:block hidden slide-in-text2">{{ 'app.header.slogan2'|trans|raw|nl2br }}</h2>
                </div>
            </div>
        </div>
    </header>
    <div id="services" class="block-container">
        <div class="block-entry services-container flex flex-col lg:flex-row items-start lg:items-center relative overflow-hidden">
            <h3 class="headline w-full lg:w-1/4 text-6xl lg:text-2xl font-bold translate-x-[-100%] transition-transform duration-700 ease-out mb-8 lg:mb-0">
                {{ 'app.curriculum_vitae.mso'|trans }}
            </h3>
            <div class="hidden lg:block block-line vertical-line h-full w-[2px] mx-4 transition-transform duration-700 ease-out"></div>
            <div class="text w-full lg:w-3/4 lg:pl-8 translate-x-20 transition-transform duration-700 ease-out">
                <p>
                    {{ 'app.curriculum_vitae.04_2021'|trans }}
                </p>
                <ul class="custom-list">
                    <li>{{ 'app.curriculum_vitae.team_lead_development'|trans }}</li>
                </ul>
                <br>
                <p>
                    {{ 'app.curriculum_vitae.10_202'|trans }}
                </p>
                <ul class="custom-list">
                    <li>{{ 'app.curriculum_vitae.senior_software_developer'|trans }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="background-container3"></div>

    <div id="services" class="block-container">
        <div class="block-entry services-container flex flex-col lg:flex-row items-start lg:items-center relative overflow-hidden">
            <h3 class="headline w-full lg:w-1/4 text-6xl lg:text-2xl font-bold translate-x-[-100%] transition-transform duration-700 ease-out mb-8 lg:mb-0">
                {{ 'app.curriculum_vitae.basecom'|trans }}
            </h3>
            <div class="hidden lg:block block-line vertical-line h-full w-[2px] mx-4 transition-transform duration-700 ease-out"></div>
            <div class="text w-full lg:w-3/4 lg:pl-8 translate-x-20 transition-transform duration-700 ease-out">
                <p>
                    {{ 'app.curriculum_vitae.06_2018'|trans }}
                </p>
                <ul class="custom-list">
                    <li>{{ 'app.curriculum_vitae.software_developer'|trans }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="background-container3"></div>

    <div id="services" class="block-container">
        <div class="block-entry services-container flex flex-col lg:flex-row items-start lg:items-center relative overflow-hidden">
            <h3 class="headline w-full lg:w-1/4 text-6xl lg:text-2xl font-bold translate-x-[-100%] transition-transform duration-700 ease-out mb-8 lg:mb-0">
                {{ 'app.curriculum_vitae.aschendorff'|trans }}
            </h3>
            <div class="hidden lg:block block-line vertical-line h-full w-[2px] mx-4 transition-transform duration-700 ease-out"></div>
            <div class="text w-full lg:w-3/4 lg:pl-8 translate-x-20 transition-transform duration-700 ease-out">
                <p>
                    {{ 'app.curriculum_vitae.01_2017'|trans }}
                </p>
                <ul class="custom-list">
                    <li>{{ 'app.curriculum_vitae.it_process_manager'|trans }}</li>
                </ul>
                <br>
                <p>
                    {{ 'app.curriculum_vitae.01_2015'|trans }}
                </p>
                <ul class="custom-list">
                    <li>{{ 'app.curriculum_vitae.it_quality_manager'|trans }}</li>
                </ul>
                <br>
                <p>
                    {{ 'app.curriculum_vitae.01_2010'|trans }}
                </p>
                <ul class="custom-list">
                    <li>{{ 'app.curriculum_vitae.it_application_manager'|trans }}</li>
                </ul>
                <br>
                <p>
                    {{ 'app.curriculum_vitae.03_2006'|trans }}
                </p>
                <ul class="custom-list">
                    <li>{{ 'app.curriculum_vitae.software_developer'|trans }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="background-container3"></div>

    <div id="services" class="block-container">
        <div class="block-entry services-container flex flex-col lg:flex-row items-start lg:items-center relative overflow-hidden">
            <h3 class="headline w-full lg:w-1/4 text-6xl lg:text-2xl font-bold translate-x-[-100%] transition-transform duration-700 ease-out mb-8 lg:mb-0">
                {{ 'app.curriculum_vitae.high_school'|trans }}
            </h3>
            <div class="hidden lg:block block-line vertical-line h-full w-[2px] mx-4 transition-transform duration-700 ease-out"></div>
            <div class="text w-full lg:w-3/4 lg:pl-8 translate-x-20 transition-transform duration-700 ease-out">
                <p>
                    {{ 'app.curriculum_vitae.09_2001'|trans }}
                </p>
                <ul class="custom-list">
                    <li>{{ 'app.curriculum_vitae.study'|trans }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="background-container3"></div>

    <div id="services" class="block-container">
        <div class="block-entry services-container flex flex-col lg:flex-row items-start lg:items-center relative overflow-hidden">
            <h3 class="headline w-full lg:w-1/4 text-6xl lg:text-2xl font-bold translate-x-[-100%] transition-transform duration-700 ease-out mb-8 lg:mb-0">
                {{ 'app.curriculum_vitae.over_school'|trans }}
            </h3>
            <div class="hidden lg:block block-line vertical-line h-full w-[2px] mx-4 transition-transform duration-700 ease-out"></div>
            <div class="text w-full lg:w-3/4 lg:pl-8 translate-x-20 transition-transform duration-700 ease-out">
                <p>
                    {{ 'app.curriculum_vitae.09_2000'|trans }}
                </p>
                <ul class="custom-list">
                    <li>{{ 'app.curriculum_vitae.degree_technical_school'|trans }}</li>
                </ul>
            </div>
        </div>
    </div>

{#    <div class="background-container3"></div>#}

{#    <div id="services" class="block-container">#}
{#        <div class="block-entry services-container flex flex-col lg:flex-row items-start lg:items-center relative overflow-hidden">#}
{#            <h3 class="headline w-full lg:w-1/4 text-6xl lg:text-2xl font-bold translate-x-[-100%] transition-transform duration-700 ease-out mb-8 lg:mb-0">#}
{#                Tarifgemeinschaft Recke#}
{#            </h3>#}
{#            <div class="hidden lg:block block-line vertical-line h-full w-[2px] mx-4 transition-transform duration-700 ease-out"></div>#}
{#            <div class="text w-full lg:w-3/4 lg:pl-8 translate-x-20 transition-transform duration-700 ease-out">#}
{#                <p>#}
{#                    02/2000 – 08/2000#}
{#                </p>#}
{#                <ul class="custom-list">#}
{#                    <li>Messgehilfe</li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <div class="background-container3"></div>#}

{#    <div id="services" class="block-container">#}
{#        <div class="block-entry services-container flex flex-col lg:flex-row items-start lg:items-center relative overflow-hidden">#}
{#            <h3 class="headline w-full lg:w-1/4 text-6xl lg:text-2xl font-bold translate-x-[-100%] transition-transform duration-700 ease-out mb-8 lg:mb-0">#}
{#                Preussag (DSK) Anthrazit GmbH in Ibbenbüren#}
{#            </h3>#}
{#            <div class="hidden lg:block block-line vertical-line h-full w-[2px] mx-4 transition-transform duration-700 ease-out"></div>#}
{#            <div class="text w-full lg:w-3/4 lg:pl-8 translate-x-20 transition-transform duration-700 ease-out">#}
{#                <p>#}
{#                    11/1999 – 01/2000#}
{#                </p>#}
{#                <ul class="custom-list">#}
{#                    <li>Energieelektroniker-Betriebstechnik</li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <div class="background-container3"></div>#}

{#    <div id="services" class="block-container">#}
{#        <div class="block-entry services-container flex flex-col lg:flex-row items-start lg:items-center relative overflow-hidden">#}
{#            <h3 class="headline w-full lg:w-1/4 text-6xl lg:text-2xl font-bold translate-x-[-100%] transition-transform duration-700 ease-out mb-8 lg:mb-0">#}
{#                Wehrdienst#}
{#            </h3>#}
{#            <div class="hidden lg:block block-line vertical-line h-full w-[2px] mx-4 transition-transform duration-700 ease-out"></div>#}
{#            <div class="text w-full lg:w-3/4 lg:pl-8 translate-x-20 transition-transform duration-700 ease-out">#}
{#                <p>#}
{#                    01/1999 – 10/1999#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <div class="background-container3"></div>#}

{#    <div id="services" class="block-container">#}
{#        <div class="block-entry services-container flex flex-col lg:flex-row items-start lg:items-center relative overflow-hidden">#}
{#            <h3 class="headline w-full lg:w-1/4 text-6xl lg:text-2xl font-bold translate-x-[-100%] transition-transform duration-700 ease-out mb-8 lg:mb-0">#}
{#                Preussag (DSK) Anthrazit GmbH in Ibbenbüren#}
{#            </h3>#}
{#            <div class="hidden lg:block block-line vertical-line h-full w-[2px] mx-4 transition-transform duration-700 ease-out"></div>#}
{#            <div class="text w-full lg:w-3/4 lg:pl-8 translate-x-20 transition-transform duration-700 ease-out">#}
{#                <p>#}
{#                    02/1998 – 12/1999#}
{#                </p>#}
{#                <ul class="custom-list">#}
{#                    <li>Energieelektroniker-Betriebstechnik</li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="background-container3"></div>

    <footer>
        <p>&copy; 2024 Achim Krämer</p>
        <a target="_blank" href="{{ path('app_data-protection_index') }}">{{ 'app.data_protection.title'|trans }}</a>
        <a target="_blank" href="{{ path('app_impress_index') }}">{{ 'app.impress.title'|trans }}</a>
        {#        <div>#}
        {#            <a href="https://linkedin.com"><img src="{{ asset('images/linkedin.png') }}" alt="LinkedIn"></a>#}
        {#            <a href="https://github.com"><img src="{{ asset('images/github.png') }}" alt="GitHub"></a>#}
        {#        </div>#}
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
