{% extends 'base.html.twig' %}

{% block title %}{{ 'app.invoice.title'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <div class="table-container bg-gray-800 p-8 overflow-x-auto">
        <h1>{{ 'app.invoice.title'|trans }}</h1>

        <table class="table min-w-full bg-white border border-gray-200">
            <thead>
                <tr>
                    <th>{{ 'app.invoice.invoice_date'|trans }}</th>
                    <th>{{ 'app.invoice.invoice_number'|trans }}</th>
                    <th>{{ 'app.invoice.invoice_amount'|trans }}</th>
                    <th>{{ 'app.invoice.status'|trans }}</th>
                    <th>{{ 'app.invoice.download'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td><a href="{{ path('admin_invoice_show', {'id': invoice.id}) }}">{{ invoice.invoiceDate ? invoice.invoiceDate|date('Y-m-d') : '' }}</a></td>
                    <td>{{ invoice.name }}</td>
                    <td>{{ invoice.totalAmount }}</td>
                    <td>{{ invoice.status }}</td>
                    <td><a href="{{ path('admin_invoice_download', {'invoice': invoice.id}) }}">{{ 'app.invoice.download'|trans }}</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="button mt-4" href="{{ path('admin_index') }}">{{ 'app.default.back_to_list'|trans }}</a>
    </div>
</div>
{% endblock %}
